{% extends 'account_base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block type %}
    Авторизация
{% endblock %}

{% block account_content %}
	                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="{{ form.username.label_for_id }}" class="form-label">{{ form.username.label }}</label>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.password.label_for_id }}" class="form-label">{{ form.password.label }}</label>
                            {{ form.password }}
                        </div>

                  <div class="row mt-3">

                        <div class="row mt-3">

                            <div class="col d-flex justify-content-start">
                                <a href="{% url 'main' %}" class="btn btn-outline-danger">На главную</a>
                            </div>

                            <div class="col d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-primary">Войти</button>
                            </div>

                        </div>
                  </div>
                        </form>
{% endblock %}