{% extends 'account_base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block type %}
    Авторизация
{% endblock %}

{% block account_content %}
	                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="{{ form.username.label_for_id }}" class="form-label">{{ form.username.label }}</label>
                            {{ form.username }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.password.label_for_id }}" class="form-label">{{ form.password.label }}</label>
                            {{ form.password }}
                        </div>

                  <div class="row mt-3">

                      <a class="text-end" href="{% url 'registration' %}">Нет аккаунта</a>
                      <a class="text-end mt-2" href="#">Забыл пароль</a>

                        <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-outline-primary">Войти</button>
                        </div>

                  </div>
                        </form>
{% endblock %}