{% extends 'main_base.html' %}


{% block title %}
	Главная страница
{% endblock %}

{% block content %}

    <div class='col-6 text-center mx-auto mt-5'>

        <h3>Добро пожаловать {{ user.username }}</h3>
        <h5>Выберите раздел сайта, чтобы продолжить</h5>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'all_movies' %}" class='btn btn-outline-primary'>Фильмы</a>
            <a href="#" class='btn btn-outline-primary'>Новости</a>

              {% if user.is_authenticated %}

                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Аккаунт</button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'user_profile' %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_settings' %}">Настройки</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>

              {% else %}

            <a href="{% url 'login' %}" class='btn btn-outline-primary'>Вход</a>
            <a href="{% url 'registration' %}" class='btn btn-outline-primary'>Регистрация</a>

              {% endif %}

            </div>
    </div>

{% endblock %}

